body { 
      background-color: #0d0d0d; 
      margin: 0; 
      padding: 0; 
      overflow-x: hidden; 
      color: white;
      font-family: monospace;
    }
    /* This container holds the repeating images */
    #canvas {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }
    /* This hides your 'template' art so it doesn't show up twice */
    #source-art { display: none; }
    
    pre {
      margin: 0;
      padding: 0;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 0px;
    }